.navbar{
    top:-13%;
    background-color: white;
    width: 100%;
    left: 0%;
    right: 0%;
}
.row{
    width: 50%;
    float: left;
}
.row-right img{
    width:100%;

}
.row-left{
    margin: top 100px;;
}
.texting{
    color:#dc3545;
}
.btn{
    background-color: #dc3545;
    color:white;
}
.container{
    margin-top: 50px;
}
.purp{
    color:purple;
}
.para{
    padding-top: 20px;
}
.icons{
    margin-top:30px;
}
.icons i{
    margin-left: 20px;
}
.container-fluid{
    clear: both;
    margin-top: 70px;
    overflow: hidden;
    
}
.card-header{
    background-color: white;
    border:0px;
}
.card-footer{
    background-color: white;
    border:0px;
}
.card{
    width:32%;
    float:left;
    border:0px;
    margin-left: 10px;
    margin-top: 20px;
}
.card-header img{
    width: 30%;
}
.about{
    width:50%;
    float:left;
}
.about-left img{
    width:80%;
    
}
.second-container{
    margin-top: 60px;
    padding-top: 30px;
}
.about-right{
    margin-top: 65px;
}
.third_container{
    clear:both;
    

}
.third{
    width:50%;
    float:left;
}
.third-left{
    margin-top: 80px;
    padding-left: 80px;

}
.third-right img{
 width:60%;
 padding-left: 40px;
 margin-left: 80px;
 margin-top: 40px;
}
.bg-mark{
   background-color:#dc3545;
}
.bg-purple{
    background-color: purple;
}
.fourth_container{
    clear: both;
    padding-top: 60px;
}
.card-one{
    width: 20%;
    float: left;
    margin-left: 50px;
    box-shadow: 1px 1px 2px 2px #ccc;
}
.card-body{
    padding-top: 20px;
}
.fifth-container{
    padding-bottom: 60px;
    margin-top: 60px;
}
.card-header{
    align-items: center;
}
.sixth_container{
    clear: both;
    padding-top: 60px;
}
.seventh_container{
    margin-left: 60px;
    padding-bottom: 30px;
}
input{
    border-radius: 5px;
    
}
form{
    width: 50%;
    margin-left: 300px;
    margin-top: 60px;
}
iframe{
    width: 100%;
    margin-top: 60px;
}
.navbar-nav a{
    margin-right: 30px;
}
@media only screen and (max-width: 600px){

    .row{
        width:100%;
    }
    .row-right{
        margin-top: 50px;
        margin-left: 30px;
    }
    .row-left{
        margin-left: 20px;
    }
    .card{
        width: 100%;
        margin-top:50px;
    }
    .about{
        width:100%;
    }
    .about-left img{
        width:100%;

    }
    .about-right{
        padding-left: 30px;
    }
    .third{
        width:100%;
    }
    .third-right img{
        width:100%;

    }
    .card-one{
        width:100%;
        margin-top: 60px;
    }
    .sixth_container{
        position:relative;
        top: 20%;
    }
    .fourth_container{
        text-align: center;
        padding-left: 20px;
    }
    .sixth_container{
        text-align: center;
        margin-left: 20px;
    }
    form{
        position: relative;
        margin-right: 80px;
        left:-40%;
    }
    form input{
        width:60%;
    }
    iframe{
        width:100%;
}

.navbar-toggler-icon{
    background-color: #dc3545;
    border-radius: 10px;
}
}